/* PROJECT: BANKING CREDIT ANALYSIS SYSTEM (BI MODEL)
   DESCRIPTION: Khoi tao Star Schema (Fact_Loans + 5 Dimensions + Staging).
   AUTHOR: Dam Chien Thang & Group
*/

-- =========================
-- DATABASE SCHEMA
-- =========================

CREATE DATABASE CreditBI_DB
GO


USE CreditBI_DB;
GO

-- =========================
-- STAGING TABLE
-- (Luu du lieu tho tu CSV truoc khi ETL)
-- =========================
CREATE TABLE loan_staging (
    id                BIGINT,
    loan_amnt         FLOAT,
    term              VARCHAR(20),
    int_rate          VARCHAR(20),
    grade             VARCHAR(10),
    emp_length        VARCHAR(20),
    home_ownership    VARCHAR(50),
    annual_inc        FLOAT,
    issue_d           VARCHAR(20),
    loan_status       VARCHAR(100),
    purpose           VARCHAR(100),
    addr_state        VARCHAR(10),
    dti               FLOAT,
    delinq_2yrs       FLOAT,
    earliest_cr_line  VARCHAR(20),
    fico_range_low    FLOAT,
    fico_range_high   FLOAT,
    pub_rec           FLOAT,
    revol_bal         FLOAT,
    revol_util        FLOAT,
    total_acc         FLOAT,
    out_prncp         FLOAT,
    total_pymnt       FLOAT,
    recoveries        FLOAT,
    last_pymnt_d      VARCHAR(20),
    mort_acc          FLOAT,
    total_bc_limit    FLOAT,
    il_util           FLOAT,
    max_bal_bc        FLOAT,
    all_util          FLOAT,
    issue_year        INT,
    issue_month       INT,
    issue_quarter     INT
);
GO

BULK INSERT loan_staging
FROM 'C:\Nam 3 ki 2\HQT_CSDL\data_hqtcsdl.csv'
WITH (
    FIRSTROW = 2,
    FIELDTERMINATOR = ',',
    ROWTERMINATOR = '\n',
    CODEPAGE = '65001'
);

SELECT COUNT(*) FROM loan_staging;

CREATE TABLE Dim_Customers (
    customer_id     INT IDENTITY(1,1) PRIMARY KEY,
    staging_id      BIGINT   NULL, 
    emp_length      INT      NULL,
    home_ownership  VARCHAR(50)  NULL,
    annual_inc      BIGINT   NULL,
    fico_range_low  INT      NULL,
    fico_range_high INT      NULL,
    pub_rec         INT      NULL,
    delinq_2yrs     INT      NULL,
    mort_acc        INT      NULL
);

CREATE TABLE Dim_Geography (
    geo_id      INT IDENTITY(1,1) PRIMARY KEY,
    addr_state  VARCHAR(10)  NULL,
    state_name  VARCHAR(100) NULL,
    region      VARCHAR(50)  NULL,
    timezone    VARCHAR(50)  NULL
);

CREATE TABLE Dim_LoanProduct (
    product_id      INT IDENTITY(1,1) PRIMARY KEY,
    grade           VARCHAR(10)  NULL,
    purpose         VARCHAR(100) NULL,
    revol_bal       FLOAT NULL,
    revol_util      FLOAT NULL,
    total_bc_limit  FLOAT NULL,
    total_acc       INT   NULL,
    all_util        FLOAT NULL,
    il_util         FLOAT NULL,
    max_bal_bc      FLOAT NULL
);

CREATE TABLE Dim_Time (
    time_id          INT IDENTITY(1,1) PRIMARY KEY,
    issue_d          DATE NULL,
    issue_year       INT  NULL,
    issue_month      INT  NULL,
    issue_quarter    INT  NULL,
    earliest_cr_line DATE NULL,
    last_pymnt_d     DATE NULL,
    credit_age_years INT  NULL
);

CREATE TABLE Dim_CreditRisk (
    risk_id         INT IDENTITY(1,1) PRIMARY KEY,
    loan_status_raw VARCHAR(100) NULL,
    npl_flag        INT          NULL,
    risk_tier       VARCHAR(50)  NULL,
    is_recovered    INT          NULL
);

CREATE TABLE Fact_Loans (
    loan_id       BIGINT PRIMARY KEY,
    customer_id   INT,
    time_id       INT,
    geo_id        INT,
    product_id    INT,
    risk_id       INT,
    loan_amnt     FLOAT NULL,
    int_rate      FLOAT NULL,
    term          INT   NULL,
    dti           FLOAT NULL,
    out_prncp     FLOAT NULL,
    total_pymnt   FLOAT NULL,
    recoveries    FLOAT NULL,
    FOREIGN KEY (customer_id) REFERENCES Dim_Customers(customer_id),
    FOREIGN KEY (time_id)     REFERENCES Dim_Time(time_id),
    FOREIGN KEY (geo_id)      REFERENCES Dim_Geography(geo_id),
    FOREIGN KEY (product_id)  REFERENCES Dim_LoanProduct(product_id),
    FOREIGN KEY (risk_id)     REFERENCES Dim_CreditRisk(risk_id)
);

CREATE INDEX idx_fact_customer ON Fact_Loans(customer_id);
CREATE INDEX idx_fact_time     ON Fact_Loans(time_id);
CREATE INDEX idx_fact_geo      ON Fact_Loans(geo_id);
CREATE INDEX idx_fact_product  ON Fact_Loans(product_id);
CREATE INDEX idx_fact_risk     ON Fact_Loans(risk_id);
GO