/* PROJECT: CREDIT ANALYSIS ETL PROCESS
   DESCRIPTION: Quy trinh trich xuat, bien doi va nap du lieu (ETL) tu Staging vao Data Warehouse.
   STEPS:
   1. Clean Staging Data (Xử lý Null, định dạng ngày tháng).
   2. Load Dimensions (Nạp dữ liệu vào các bảng Dim).
   3. Load Fact (Nạp dữ liệu vào bảng Fact chính).
*/

-- 1. CLEANING & TRANSFORMING (Ví dụ xử lý trạng thái nợ)
-- INSERT INTO Dim_Status (Status_Name)
-- SELECT DISTINCT loan_status FROM loan_staging;

-- 2. LOADING DATA INTO FACT TABLE
-- INSERT INTO Fact_Loans (Loan_ID, Customer_ID, Amount, Interest_Rate)
-- SELECT loan_id, emp_id, loan_amnt, int_rate FROM loan_staging;



USE CreditBI_DB;
GO

-- =========================================================
-- BUOC 2: TAO loan_staging_clean
-- =========================================================
CREATE TABLE loan_staging_clean (
    id                    BIGINT       NOT NULL,
    loan_amnt             FLOAT        NULL,
    int_rate              FLOAT        NULL,
    term                  INT          NULL,
    dti                   FLOAT        NULL,
    out_prncp             FLOAT        NULL,
    total_pymnt           FLOAT        NULL,
    recoveries            FLOAT        NULL,
    -- Customers
    emp_length            INT          NULL,
    home_ownership        VARCHAR(50)  NULL,
    annual_inc            BIGINT       NULL,   -- ROUND -> BIGINT, tranh float comparison
    fico_range_low        INT          NULL,
    fico_range_high       INT          NULL,
    pub_rec               INT          NULL,
    delinq_2yrs           INT          NULL,
    mort_acc              INT          NULL,
    -- Time
    issue_d_date          DATE         NULL,
    issue_year            INT          NULL,
    issue_month           INT          NULL,
    issue_quarter         INT          NULL,
    earliest_cr_line_date DATE         NULL,
    last_pymnt_d_date     DATE         NULL,
    credit_age_years      INT          NULL,
    -- Geography
    addr_state            VARCHAR(10)  NULL,
    -- LoanProduct
    grade                 VARCHAR(10)  NULL,
    purpose               VARCHAR(100) NULL,
    revol_bal             FLOAT        NULL,
    revol_util            FLOAT        NULL,
    total_bc_limit        FLOAT        NULL,
    total_acc             INT          NULL,
    all_util              FLOAT        NULL,
    il_util               FLOAT        NULL,
    max_bal_bc            FLOAT        NULL,
    -- CreditRisk
    loan_status           VARCHAR(100) NULL,
    -- Surrogate keys
    customer_id           INT          NULL,
    time_id               INT          NULL,
    geo_id                INT          NULL,
    product_id            INT          NULL,
    risk_id               INT          NULL
);
GO

-- =========================================================
-- BUOC 3: POPULATE staging_clean
-- Du lieu staging da sach tu Python:
--   emp_length: da la so nguyen (0-10), khong phai text
--   issue_d: da la YYYY-MM-DD
--   annual_inc: da la so, ROUND->BIGINT de JOIN an toan
-- =========================================================
INSERT INTO loan_staging_clean (
    id,
    loan_amnt, int_rate, term, dti, out_prncp, total_pymnt, recoveries,
    emp_length, home_ownership, annual_inc,
    fico_range_low, fico_range_high, pub_rec, delinq_2yrs, mort_acc,
    issue_d_date, issue_year, issue_month, issue_quarter,
    earliest_cr_line_date, last_pymnt_d_date, credit_age_years,
    addr_state,
    grade, purpose, revol_bal, revol_util, total_bc_limit,
    total_acc, all_util, il_util, max_bal_bc,
    loan_status
)
SELECT
    id,
    loan_amnt,
    int_rate,
    -- term, emp_length la INT trong staging -> CAST truc tiep, khong qua FLOAT
    TRY_CAST(TRY_CAST(term AS FLOAT) AS INT),
    dti,
    out_prncp,
    total_pymnt,
    recoveries,
    emp_length,
    home_ownership,
    CAST(ROUND(annual_inc, 0) AS FLOAT),  -- FLOAT -> BIGINT, tranh sai so
    fico_range_low,
    fico_range_high,
    pub_rec,
    delinq_2yrs,
    mort_acc,
    CAST(issue_d          AS DATE),         -- YYYY-MM-DD -> DATE ok
    issue_year,
    issue_month,
    issue_quarter,
    CAST(earliest_cr_line AS DATE),
    CAST(last_pymnt_d     AS DATE),
    DATEDIFF(YEAR, CAST(earliest_cr_line AS DATE), CAST(issue_d AS DATE)),
    addr_state,
    grade,
    purpose,
    revol_bal,
    revol_util,
    total_bc_limit,
    total_acc,
    all_util,
    il_util,
    max_bal_bc,
    loan_status
FROM loan_staging;
GO
PRINT CONCAT('staging_clean: ', CAST(@@ROWCOUNT AS VARCHAR), ' rows');
GO

-- =========================================================
-- BUOC 4: INDEX tren staging_clean de write-back nhanh
-- =========================================================
CREATE INDEX idx_sc_state   ON loan_staging_clean(addr_state);
CREATE INDEX idx_sc_status  ON loan_staging_clean(loan_status);
CREATE INDEX idx_sc_date    ON loan_staging_clean(issue_d_date);
CREATE INDEX idx_sc_product ON loan_staging_clean(grade, purpose);
GO

-- =========================================================
-- BUOC 5: LOAD Dim_Geography + write-back
-- =========================================================
GO

CREATE INDEX idx_geo_state ON Dim_Geography(addr_state);

UPDATE sc SET sc.geo_id = g.geo_id
FROM loan_staging_clean sc
JOIN Dim_Geography g ON g.addr_state = sc.addr_state;
PRINT CONCAT('geo_id written back: ', CAST(@@ROWCOUNT AS VARCHAR));
GO

-- =========================================================
-- BUOC 6: LOAD Dim_CreditRisk + write-back
-- =========================================================
INSERT INTO Dim_CreditRisk (loan_status_raw, npl_flag, risk_tier, is_recovered)
SELECT DISTINCT
    loan_status,
    CASE WHEN loan_status IN ('Charged Off','Default') THEN 1 ELSE 0 END,
    CASE
        WHEN loan_status IN ('Charged Off','Default') THEN 'Default'
        WHEN loan_status LIKE 'Late (31%'             THEN 'High'
        WHEN loan_status LIKE 'Late (16%'             THEN 'High'
        WHEN loan_status LIKE 'Late%'
          OR loan_status = 'In Grace Period'           THEN 'Medium'
        ELSE 'Low'
    END,
    CASE WHEN loan_status = 'Fully Paid' THEN 1 ELSE 0 END
FROM loan_staging_clean WHERE loan_status IS NOT NULL;

CREATE INDEX idx_risk_status ON Dim_CreditRisk(loan_status_raw);

UPDATE sc SET sc.risk_id = r.risk_id
FROM loan_staging_clean sc
JOIN Dim_CreditRisk r ON r.loan_status_raw = sc.loan_status;
PRINT CONCAT('risk_id written back: ', CAST(@@ROWCOUNT AS VARCHAR));
GO

-- =========================================================
-- BUOC 7: LOAD Dim_Time + write-back
-- =========================================================
INSERT INTO Dim_Time (
    issue_d, issue_year, issue_month, issue_quarter,
    earliest_cr_line, last_pymnt_d, credit_age_years
)
SELECT DISTINCT
    issue_d_date, issue_year, issue_month, issue_quarter,
    earliest_cr_line_date, last_pymnt_d_date, credit_age_years
FROM loan_staging_clean WHERE issue_d_date IS NOT NULL;

CREATE INDEX idx_time_date ON Dim_Time(issue_d);

UPDATE sc SET sc.time_id = t.time_id
FROM loan_staging_clean sc
JOIN Dim_Time t ON t.issue_d = sc.issue_d_date;
PRINT CONCAT('time_id written back: ', CAST(@@ROWCOUNT AS VARCHAR));
GO

-- =========================================================
-- BUOC 8: LOAD Dim_LoanProduct + write-back
-- grade + purpose: 196 combinations, VARCHAR = VARCHAR
-- =========================================================
INSERT INTO Dim_LoanProduct (
    grade, purpose, revol_bal, revol_util,
    total_bc_limit, total_acc, all_util, il_util, max_bal_bc
)
SELECT
    grade, purpose,
    AVG(revol_bal)                         AS revol_bal,
    AVG(revol_util)                        AS revol_util,
    AVG(total_bc_limit)                    AS total_bc_limit,
    CAST(AVG(CAST(total_acc AS FLOAT)) AS INT) AS total_acc,
    AVG(all_util)                          AS all_util,
    AVG(il_util)                           AS il_util,
    AVG(max_bal_bc)                        AS max_bal_bc
FROM loan_staging_clean
WHERE grade IS NOT NULL AND purpose IS NOT NULL
GROUP BY grade, purpose;

CREATE INDEX idx_prod_lookup ON Dim_LoanProduct(grade, purpose);

UPDATE sc SET sc.product_id = p.product_id
FROM loan_staging_clean sc
JOIN Dim_LoanProduct p ON p.grade = sc.grade AND p.purpose = sc.purpose;
PRINT CONCAT('product_id written back: ', CAST(@@ROWCOUNT AS VARCHAR));
GO

-- =========================================================
-- BUOC 9: LOAD Dim_Customers + write-back
-- Moi dong staging = 1 customer record (Lending Club: no repeat borrowers)
-- INSERT kem staging_id -> write-back qua BIGINT = BIGINT (chinh xac 100%)
-- =========================================================
INSERT INTO Dim_Customers (
    staging_id,
    emp_length, home_ownership, annual_inc,
    fico_range_low, fico_range_high, pub_rec, delinq_2yrs, mort_acc
)
SELECT
    id,
    emp_length, home_ownership, annual_inc,
    fico_range_low, fico_range_high, pub_rec, delinq_2yrs, mort_acc
FROM loan_staging_clean;
GO

CREATE INDEX idx_cust_staging ON Dim_Customers(staging_id);
GO

UPDATE sc SET sc.customer_id = c.customer_id
FROM loan_staging_clean sc
JOIN Dim_Customers c ON c.staging_id = sc.id;
PRINT CONCAT('customer_id written back: ', CAST(@@ROWCOUNT AS VARCHAR));
GO

-- =========================================================
-- BUOC 10: LOAD Fact_Loans
-- Chi SELECT tren INT surrogate key, khong JOIN, khong CAST
-- =========================================================
INSERT INTO Fact_Loans (
    loan_id, customer_id, time_id, geo_id, product_id, risk_id,
    loan_amnt, int_rate, term, dti, out_prncp, total_pymnt, recoveries
)
SELECT
    id, customer_id, time_id, geo_id, product_id, risk_id,
    loan_amnt, int_rate, term, dti, out_prncp, total_pymnt, recoveries
FROM loan_staging_clean
WHERE customer_id IS NOT NULL
  AND time_id     IS NOT NULL
  AND geo_id      IS NOT NULL
  AND product_id  IS NOT NULL
  AND risk_id     IS NOT NULL;
PRINT CONCAT('Fact_Loans inserted: ', CAST(@@ROWCOUNT AS VARCHAR));
GO

-- =========================================================
-- BUOC 11: DON DEP INDEX TAM
-- =========================================================
DROP INDEX idx_geo_state    ON Dim_Geography;
DROP INDEX idx_risk_status  ON Dim_CreditRisk;
DROP INDEX idx_time_date    ON Dim_Time;
DROP INDEX idx_prod_lookup  ON Dim_LoanProduct;
DROP INDEX idx_cust_staging ON Dim_Customers;
GO

-- =========================================================
-- BUOC 12: KIEM TRA SAU ETL
-- =========================================================
SELECT 'loan_staging'       AS bang, COUNT(*) AS so_dong FROM loan_staging       UNION ALL
SELECT 'loan_staging_clean' AS bang, COUNT(*) AS so_dong FROM loan_staging_clean UNION ALL
SELECT 'Dim_Customers'      AS bang, COUNT(*) AS so_dong FROM Dim_Customers      UNION ALL
SELECT 'Dim_Time'           AS bang, COUNT(*) AS so_dong FROM Dim_Time           UNION ALL
SELECT 'Dim_Geography'      AS bang, COUNT(*) AS so_dong FROM Dim_Geography      UNION ALL
SELECT 'Dim_LoanProduct'    AS bang, COUNT(*) AS so_dong FROM Dim_LoanProduct    UNION ALL
SELECT 'Dim_CreditRisk'     AS bang, COUNT(*) AS so_dong FROM Dim_CreditRisk     UNION ALL
SELECT 'Fact_Loans'         AS bang, COUNT(*) AS so_dong FROM Fact_Loans;

-- So sanh Fact vs staging (chenh lech = NULL key)
SELECT
    (SELECT COUNT(*) FROM loan_staging_clean)  AS staging_clean,
    (SELECT COUNT(*) FROM Fact_Loans)           AS fact_loans,
    (SELECT COUNT(*) FROM loan_staging_clean) -
    (SELECT COUNT(*) FROM Fact_Loans)           AS so_dong_bi_loc;

-- Kiem tra NULL trong FK (phai = 0 het)
SELECT
    SUM(CASE WHEN customer_id IS NULL THEN 1 ELSE 0 END) AS null_customer,
    SUM(CASE WHEN time_id     IS NULL THEN 1 ELSE 0 END) AS null_time,
    SUM(CASE WHEN geo_id      IS NULL THEN 1 ELSE 0 END) AS null_geo,
    SUM(CASE WHEN product_id  IS NULL THEN 1 ELSE 0 END) AS null_product,
    SUM(CASE WHEN risk_id     IS NULL THEN 1 ELSE 0 END) AS null_risk
FROM Fact_Loans;
GO

SELECT 'Dim_Geography'  AS bang, * FROM Dim_Geography;

SELECT total_pymnt FROM fact_loans;